.pulse {
	animation: pulse-animation 1s infinite;
}

@keyframes pulse-animation {
	0% {
		transform: translateX(0);
	}
	25% {
		transform: translateX(2px);
	}
	50% {
		transform: translateX(-1px);
	}
	75% {
		transform: translateX(1px);
	}
	100% {
		transform: translateX(0);
	}
}
