.shake {
	animation: shake-animation 1s infinite;
}

@keyframes shake-animation {
	0% {
		transform: translateX(0);
	}
	25% {
		transform: translateX(2px);
	}
	50% {
		transform: translateX(-1px);
	}
	75% {
		transform: translateX(1px);
	}
	100% {
		transform: translateX(0);
	}
}

.high-score {
	font-family: 'Press Start 2P', serif;
}

.v-shake {
	animation: v-shake-animation 1s infinite;
}

@keyframes v-shake-animation {
	0% {
		transform: translateY(0);
	}
	25% {
		transform: translateY(1px);
	}
	50% {
		transform: translateY(-0.5px);
	}
	75% {
		transform: translateY(0.5px);
	}
	100% {
		transform: translateY(0);
	}
}
