.shake {
	animation: shake-animation 1s infinite;
}

@keyframes shake-animation {
	0% {
		transform: translateX(0);
	}
	25% {
		transform: translateX(2px);
	}
	50% {
		transform: translateX(-1px);
	}
	75% {
		transform: translateX(1px);
	}
	100% {
		transform: translateX(0);
	}
}

.high-score {
	font-family: 'Press Start 2P', serif;
	font-weight: 400;
	font-style: normal;
}
